body {
  background-image: url('../imageOrIcon/volidesusBG.png');
  background-repeat: repeat;
  font-family: 'Atari', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #121212;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {height: 65px}
header h1 {font-family: Segoe UI}
header a {color:white}
a {text-decoration: none}
h2 {color:white}

p {
  color:white;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 10px;
  border-radius: 0px 0px 30px 30px;
  margin-bottom: 15px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#background {
  background-color: #000000b2;
}

#foreground {
  padding: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  width: 85%;
}

#info {
  padding: 20px;
  background-color: #000;
}

footer {
  margin-top: 25px;
  border-radius: 30px 30px 0px 0px;
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer a {color: rgb(176, 245, 250);}

@font-face {
  font-family: 'Atari';
  src: local('Atari'), url('https://fonts.cdnfonts.com/s/7524/AtariSmall.woff') format('woff');
}
