body {
  background-color: grey;
  font-family: 'Atari', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  background-color: white;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #121212;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

section {
  padding: 20px;
  background-color: #121212;
}
