* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #0e1947; /* Darker shade of blue */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  h1,
  p {
    text-align: center;
    color: #fff;
  }
  
  #lost-game-para {
    display: none;
    font-weight: bold;
  }
  
  #game {
    border-radius: 5px;
    border: 2px solid #fff;
    max-width: 400px; /* Adjust max-width as needed */
    margin: 0 auto;
    background-color: #1b2861;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    max-width: 400px; /* Adjust max-width as needed */
    margin: 0 auto;
  }
  
  .memory-button {
    width: 100%;
    height: 80px; /* Adjust height as needed */
    background-color: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust font-size as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .memory-button:hover {
    cursor: pointer;
  }
  
  #start-button {
    margin: 0 auto;
    padding: 10px 20px;
    display: block;
    background-color: #27ae60;
    color: #fff;
    border: 2px solid #27ae60;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #start-button:hover {
    cursor: pointer;
  }
  