body {
  background-color: grey;
  font-family: 'Atari', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  background-color: #000;
}

header {
  background-color: white;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #121212;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

section {
  padding: 20px;
  background-color: #000;
  border-radius: 15px;
}

@font-face {
  font-family: 'Atari';
  src: local('Atari'), url('https://fonts.cdnfonts.com/s/7524/AtariSmall.woff') format('woff');
}
